scikit-learn
spacy
rake-nltk
fuzzywuzzy==0.18.0
docx2txt
gensim==3.8.3
pdf2docx==0.5.1
streamlit
pymupdf
nltk
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz