scikit-learn
spacy
rake-nltk
fuzzywuzzy==0.18.0
docx2txt
gensim==3.8.3
pdf2docx==0.5.1
streamlit
pymupdf
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.0/en_core_web_sm-2.2.0.tar.gz